<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>The Movies</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
    <h1 align="center"> The Movies </h1>
    <hr/>
    <a th:href="@{/main/edit}"><button type="submit">Add new movie</button>&nbsp;;</a>
    <a th:href="@{/main/edit}"><button type="submit">Registration</button><br><br></a>
      
      <tr>
        <th>id</th>
        <th>Title</th>
        <th>Release</th>
      </tr>
      <tr th:each="movie : ${movies}">
        <td th:text="${movie.getId()}">1</td>
        <td > <a th:text="${movie.getName()}" href="MoviePage.html" th:href="@{/main/movie(id=${movie.getId})}"> name</td></a>
        <td th:text="${movie.getPremiere()}">1994</td>
        <td style="text-align: left;">
				<form action="#" th:action="@{/delete(id=${movie.getId()})}" method="post">
					<button type="submit">Delete</button>
				</form>
			</td>
      </tr>
    </table>
</body>
</html>